/* Normalize.css prettier-ignore */
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

:root {
  --white: rgb(255, 255, 255);
  --navy: rgb(16, 21, 42);
  --red: rgb(246, 60, 88);
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla'), local('Karla-Regular'),
    url('./fonts/karla-regular.woff2') format('woff2'),
    url('./fonts/karla-regular.woff') format('woff');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Karla Bold'), local('Karla-Bold'),
    url('./fonts/karla-bold.woff2') format('woff2'),
    url('./fonts/karla-bold.woff') format('woff');
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  background-color: var(--navy);
  font: 115% / 1.5 'Karla', 'Helvetica', 'Arial', sans-serif;
  color: var(--white);
  /* Fixes rendering of fonts being more bold than intended. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* Positioning context for after element, shown on hover. */
  position: relative;
  color: var(--red);
  text-decoration: none;
  outline: none;
}

a::before,
a::after {
  content: '';
  position: absolute;
  top: 100%;
  transform: scaleX(0);
  width: 50%;
  height: 1px;
  background-color: var(--red);
  transition: transform 300ms;
}

a::before {
  transform-origin: right;
  left: 1px; /* Fixes some strange gap when hovered. */
}

a::after {
  transform-origin: left;
  right: 1px; /* Fixes some strange gap when hovered. */
}

a:hover::after,
a:hover::before,
a:focus::after,
a:focus::before {
  transform: scaleX(1);
}

.shadowed-text {
  text-shadow: 2px 0 0 var(--red);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.title {
  font-size: 200%;
  animation: fade-up 1s 0.2s both, fade-in 1s 0.2s both;
}

.about {
  animation: fade-in 1s both 1.2s;
}

.networks {
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
  animation: fade-in 1s both 1.5s;
  font-size: 90%;
}

.network {
  display: inline-block;
  text-transform: uppercase;
}

.network:not(:last-child)::after {
  /* Adds a visual separator but hides it from screen readers. */
  content: '//' / '';
}

@media (min-width: 768px) {
  .container {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .title {
    margin-top: 0;
  }

  .networks {
    margin-bottom: 0;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 72ch;
    margin-left: 10%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .title,
  .about,
  .networks {
    animation: none;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(2em);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
