html,
body {
  height: 100%;
}

/**
 * 1. Fixes rendering of fonts being more bold than intended.
 */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(16, 21, 42);
  font: 115% / 1.5 'Karla', 'Helvetica', 'Arial', sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased; /* 1 */
  -moz-osx-font-smoothing: grayscale; /* 1 */
}

/**
 * 1. Positioning context for after element, shown on hover.
 */
a {
  position: relative; /* 1 */
  color: rgb(250, 14, 55);
  text-decoration: none;
}

a::before,
a::after {
  content: '';
  position: absolute;
  top: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  width: 50%;
  height: 1px;
  background-color: rgb(250, 14, 55);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

/**
 * 1. Fixes some strange gap on one link when hovered.
 */
a::before {
  -webkit-transform-origin: right;
  transform-origin: right;
  left: 1px; /* 1 */
}

/**
 * 1. Fixes some strange gap on one link when hovered.
 */
a::after {
  -webkit-transform-origin: left;
  transform-origin: left;
  right: 1px; /* 1 */
}

a:hover::after,
a:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 60%;
    margin-left: 150px;
  }
}

.title {
  font-size: 200%;
  -webkit-animation: fade-up 1s 0.2s both, fade-in 1s 0.2s both;
  animation: fade-up 1s 0.2s both, fade-in 1s 0.2s both;
}

.shadowed-text {
  -webkit-animation: shadowed-text 0.7s both 0.5s;
  animation: shadowed-text 0.7s both 0.5s;
}

.about {
  -webkit-animation: fade-in 1s both 1.2s;
  animation: fade-in 1s both 1.2s;
}

.projects {
  -webkit-animation: fade-in 1s both 1.5s;
  animation: fade-in 1s both 1.5s;
}

.red {
  color: rgb(250, 14, 55);
}

.small {
  font-size: 70%;
  font-weight: bolder;
}

.small a {
  color: inherit;
}

.projects-title {
  margin-bottom: 0;
}

.projects-list {
  margin-top: 0.5em;
}

.socials {
  margin-top: 1.5em;
  padding: 0;
  list-style: none;
  -webkit-animation: fade-in 1s both 1.8s;
  animation: fade-in 1s both 1.8s;
}

.socials li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 90%;
}

.socials li:not(:last-child)::after {
  content: '//';
}

@-webkit-keyframes fade-up {
  from {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-up {
  from {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes shadowed-text {
  from {
    text-shadow: none;
  }

  to {
    text-shadow: 2px 0 0 rgb(250, 14, 55);
  }
}

@keyframes shadowed-text {
  from {
    text-shadow: none;
  }

  to {
    text-shadow: 2px 0 0 rgb(250, 14, 55);
  }
}
