html,
body {
  height: 100%;
}

/**
 * 1. Fixes rendering of fonts being more bold than intended.
 */
body {
  display: flex;
  background-color: rgb(16, 21, 42);
  font: 115% / 1.5 'Karla', 'Helvetica', 'Arial', sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased; /* 1 */
  -moz-osx-font-smoothing: grayscale; /* 1 */
}

/**
 * 1. Positioning context for after element, shown on hover.
 */
a {
  position: relative; /* 1 */
  color: rgb(250, 14, 55);
  text-decoration: none;
}

a::before,
a::after {
  content: '';
  position: absolute;
  top: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  width: 50%;
  height: 1px;
  background-color: rgb(250, 14, 55);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

/**
 * 1. Fixes some strange gap on one link when hovered.
 */
a::before {
  -webkit-transform-origin: right;
  transform-origin: right;
  left: 1px; /* 1 */
}

/**
 * 1. Fixes some strange gap on one link when hovered.
 */
a::after {
  -webkit-transform-origin: left;
  transform-origin: left;
  right: 1px; /* 1 */
}

a:hover::after,
a:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.shadowed-text {
  text-shadow: 2px 0 0 rgb(250, 14, 55);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    align-self: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 60%;
    margin-left: 150px;
  }
}

.title {
  font-size: 200%;
}

.small {
  font-size: 70%;
  font-weight: bolder;
}

.projects-title {
  margin-bottom: 0;
}

.projects-list {
  margin-top: 0.5em;
}

.socials {
  margin-top: 1.5em;
  padding: 0;
  list-style: none;
}

.socials li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 90%;
}

.socials li:not(:last-child)::after {
  content: '//';
}
